<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title> Vue Dischi Musicali</title>
</head>
<body>
  <div id="app">
    <div class="container">
      <header>
        <div class="logo">
          <img src="img/download.png" alt="logo">
        </div>
        <h1>Album's music</h1>
      </header>
      <main>
        <select class="generi" v-model="genere">
          <option  v-for="(generesel,i) in listaGeneri" :value="generesel" >{{generesel}}</option>
        </select>
        <div class="row-disks">
          <div v-if="album.genre == genere || genere == 'All'" class="disk" v-for="album in listaDischi" >
            <div class="cover">
              <img :src="album.poster" alt="cover">
            </div>
            <h2 class="title">{{album.title}}</h2>
            <h3 class="autore">{{album.author}}</h3>
            <h3 class="genere">{{album.genre}}</h3>
            <h3 class="anno">{{album.year}}</h3>
          </div>

        </div>
      </main>
    </div>
  </div>
  <script src="script/script.js" charset="utf-8"></script>
</body>
</html>
